<section id="customer-<%= @customer.id%>">
<p> Name: <%= @customer.name %></p>
<% @customer.items.each do |item| %></p>
<p> Item Name: <%= item.name %>, Price: <%= item.price %>, Location: <%= item.supermarket.name%></p>
<% end %>
</section>
<br>

<%= form_with url:"/customers/#{@customer.id}/items", method: :post, local: true do |form| %>
<p>Add a new item:</p>
  <%= form.number_field :item_id %>
  <%= form.label :item_id, "Item ID" %>
  <%= form.submit "Submit" %>
<% end %>